body {
  background-color: #242424;
}

.sidebar {
  position: fixed;

  width: 100px;
  height: 100vh;
  background-color: #1e1e1e;
  padding: 20px;
  color: #ffffff;
}

.sidebar ul {
  list-style-type: none;

}

.sidebar ul li {
  margin: 20px 0;
  cursor: pointer;
  font-size: large;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.main-content {
  margin-left: 220px;
  padding: 20px;
  color: #ffffff;
  align-content: center;
}